<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.services.sonata.food.e.cheff_efood">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/efood_logotipo_white"
        android:label="@string/app_name"
        android:logo="@drawable/efood_official"
        android:roundIcon="@drawable/efood_logotipo_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>